body{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(65, 65, 243);
    height: 100vh;
}

.card{
    height: 70%;
    width: 30%;
    background-color: white;
    margin-bottom: 100px;
}

.card1{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    height: 50%;
    background-color: white;
}

.card.active .card1{
    display: none;
}

.card header{
    cursor: pointer;
    font-size: 30px;
    color: turquoise;
    padding: 30px;
}

.card1DigiteEImput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.Card1DigiteNome{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40%;
    width: 80%;
}

.Card1DigiteNomePendente{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 250, 239);
    text-align: center;
    height: 40%;
    width: 80%;
    border-radius: 10px;
}

.Card1DigiteNomeError{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 171, 168);
    text-align: center;
    height: 40%;
    width: 80%;
    border-radius: 10px;
}

.Card1InputDigiteNome{
    background-color: white;
    text-align: center;
    height: 40%;
    width: 79%;
    font-size: 20px;
}

.card1Button{
    background-color: rgb(65, 65, 243);
    color: white;
    font-weight: 700;
    text-align: center;
    height: 20%;
    width: 80%;
}

/*----------------------------parte 2--------------------------------*/
.card2{
    display: none;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: white;
}

.card.active .card2{
    display: flex;
}

.card2TempClimaCidade{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

.Card2img{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 90%;
    height: 100%;
}

.imgcard2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.card2TempClimaCidadeTemperaturaClima{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.temp{
    display: flex;
    justify-content:center;
    align-items: center;
}

.card2TempClimaCidadeTemperaturaClima .temperatura{
    font-size: 50px;
    font-weight:bold;
}

.card2TempClimaCidadeTemperaturaClima .deg{
    font-size: 50px;
    font-weight:bold;
}

.card2TempClimaCidadeTemperaturaClima .clima{
    font-size: 20px;
    font-weight:normal;
}

.card2TempClimaFooter{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 20%;
    width: 100%;
}

.card2TempClimaFooterColuna1, .card2TempClimaFooterColuna2, .card2TempClimaFooterColuna3{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 33%;
}

.card2TempClimaFooterColuna2{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 100%;
}

.MaxMin{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 90%;
}

.fa-arrow-up{/*seta max*/
    color:blue;
}

.fa-arrow-down{/*seta min*/
    color:red;
}

.cardtempMaxMin{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    width: 20%;
    
}

.card2TempClimaFooterImg{
    height: 20px;
}

.card2TempClimaFooterInfo{

}

.linhavertical{
    height: 50px;
    border-right: 1px solid rgb(105, 103, 103);
}

.linhahorizontal{
    width: 300px;
    border: 1px solid rgb(105, 103, 103);
}

/* VERSAO MOBILE*/
/*aplicativo*/
@media (max-width:600px) {
    body{
        background-color: red;
    }

    .card{
        height: 70%;
        width: 80%;
        background-color: white;
        margin-bottom: 100px;
    }
}

/*tablet*/
@media (min-width:600px) and (max-width:900px){
    body{
        background-color: rgb(63, 204, 209);
    }

    .card{
        height: 70%;
        width: 60%;
        background-color: white;
        margin-bottom: 100px;
    }
}