body{
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10%;
    width: 30%;
    background-color: rgb(194, 192, 192);
}

.card{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 30%;
    background-color: white;
}

.cardTemperaturaLetra{
    background-color: yellow;
    font-size:50px;
    width: 50%;
    height: 15%;
    text-align: center;
    justify-content: center;
    font-weight: 700;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10%;
    width: 30%;
    background-color: rgb(194, 192, 192);
}